.main-header
  .current-group
    %h2.current-group__name
      グループ名
      %ul.member-list
        Member：
        %li.member-list__member
          test0001
        %li.member-list__member
          ユーザネーム
  = link_to "グループの編集URL" do
    .main-header__edit-btn
      Edit