.main-header
  .current-group
    %h2.current-group__name
      = @group.name
      %ul.member-list
        Member：
        %li.member-list__member
          test0001
        %li.member-list__member
          ユーザネーム
  = link_to edit_group_path(params[:group_id]) do
    .main-header__edit-btn
      Edit