.main-header
  .current-group
    %h2.current-group__name
      = @group.name
      %ul.member-list
        Member：
        - @group.users.each do |group_member|
          %li.member-list__member
            %div #{group_member.name}&nbsp;
            
  = link_to edit_group_path(params[:group_id]) do
    .main-header__edit-btn
      Edit