$main-text-color: #434A54;
$sub-text-color: #999999;
$button-color: #38AEF0;
$side_blue_dark: #253141;
$side_header_font: 20px;
$side_blue_light: #2f3e51;
$side_group_name: 15px;
$side_group_message: 11px;
$white: white;
$light_blue: #38aef0;
$light_gray: #999999;
$black: #434a54;

@mixin block-margin {
  display: block;
  // margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}